{% include head.html %}
  <body class="jc-body">
    {% include navbar.html %}
    <main id="main">
      {{ content }}
      {% unless page.no_newsletter %}
        {% include newsletter.html %}
      {% endunless %}
    </main>
    {% include footer.html %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/js/nav-hue.js"></script>
    <script src="/static/js/sparkle-shooting.js"></script>
    {% if page.extra_scripts %}
      {% for script in page.extra_scripts %}
        <script src="{{ script }}"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
